.addonsPageHeader {
    position: relative;
    background: url("../assets/headers/AddOnsHeader.webp") no-repeat center;
    background-size: cover;
    height: 594px;
}

.addonsPageHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black with 25% opacity */
    z-index: 1;
}

.addonsPageHeader h1 {
    position: relative;
    z-index: 2;
    color: white; /* or any color you prefer */
}