/*main color #173054*/
/*secondary color #225777*/
/*secondary color #2f617f*/

.timeButton {
    background-color: #ECECEC !important;
    border-radius: 5px;
    color: black;
    border: 1px solid #ECECEC !important;
    cursor: pointer;
}

.activeTime{
    background-color: #225777 !important;
    border: 1.5px solid #225777 !important;
    color: white;
}

.silverBadge{
    background: linear-gradient(
            45deg,
            #999 5%,
            #fff 10%,
            #ccc 30%,
            #ddd 50%,
            #ccc 70%,
            #fff 80%,
            #999 95%
    ) !important;
    color: black;
}

.goldBadge{
    background: linear-gradient(45deg,#d4af37 5%,#debc5b 10%,#e7c97c 30%,#efd69d 50%,#e7c97c 70%,#debc5b 80%,#d4af37 95%) !important;
    color: black;
}

.diamondBadge{
    background: linear-gradient(45deg,#1e90ff 5%,#00bfff 10%,#87cefa 30%,#87ceeb 50%,#87cefa 70%,#00bfff 80%,#1e90ff 95%) !important;
    color: black;
}

.blackBadge{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%) !important;
    color: white;
}
.planPageHeader {
    position: relative;
    background: url("../assets/headers/PlansHeader.jpeg") no-repeat center;
    background-size: cover;
    height: 594px;
}
.planPageHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black with 25% opacity */
    z-index: 1;
}
.planPageHeader h1 {
    position: relative;
    z-index: 2;
    color: white; /* or any color you prefer */
}