
.dropdown1.active {
    font-weight: bold;
}

.dropdown1:hover {
    background-color: grey !important;
}

@media only screen and (min-width: 768px) {
    .dropdown1,
    .dropdown1:active,
    .dropdown1:focus,
    .dropdown1:hover {
        background-color: transparent !important;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        background-color: transparent !important;
        box-shadow: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1050;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2e242c !important;
    }
}

/* You can still use media queries to fine-tune the logo size if needed */
@media (min-width: 768px) {
    .logo-image {
        width: 50%; /* Example for larger screens */
    }
}

@media (max-width: 768px) {
    .navbar-brand-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-image {
        width: 40%; /* Adjust as needed for extra small screens */
    }

    .navbar-toggler {
        margin-right: 0; /* Adjust to align toggler */
    }

    .navbar {
        background-color: #2e242c !important;
    }
}